.button {
  background: $orange;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  height: 3.9rem;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  vertical-align: middle;
}

.button__email {
  @extend .button;  
  margin: $m-size 0 0 0;
}

.button__modal {
  @extend .button;
}

.button__partnership {
  @extend .button;
  background: $blue;
  margin-top: $m-size;
}

@media (min-width: $desktop-breakpoint) {
  .button__email {
    margin: 0 0 0 $s-size;
  }
  .button__partnership {
    font-size: $heading-medium-size;
    height: auto;
    margin-top: $xl-size;
  }  
}