.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 110rem;
}

.list-content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $l-size 0 0 0;
}

@media (min-width: $desktop-breakpoint) {
  .list-content-container {
    align-items: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }
} 

