.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 110rem;
}

.list-content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: space-between;
  padding: $l-size 0 0 0;
}

.dealpage-container-info {
  margin: $s-size 0 0 0;
}

@media (min-width: $desktop-breakpoint) {
  .list-content-container {
    align-items: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dealpage-container-info {
    border-top: 1px solid darken($light-grey, 5%);
    margin: $s-size 0 $l-size 0;
    width: 62.4%;
  }
} 

