.footer {
  background: $light-grey;
  border-top: 2px solid darken($light-grey, 20%);
  border-bottom: 2px solid darken($light-grey, 20%);
  margin: $xl-size 0 0 0;
  padding: $l-size 0;
  h4 {
    margin-bottom: 0; 
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 $s-size 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: $s-size;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container__left {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.footer-container__right {
  text-align: center;
  flex: 1;
  p {
    font-size: $font-size-small;
  }
}

.footer-container__followUs {
  li {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.footer__title {
  color: $orange;
  font-size: $heading-medium-size;
  margin: 0;
  text-align: center;
}

.footer--link {
  color: $dark-grey;
  text-decoration: none;
}

.footer--form {
  vertical-align: middle;
}

.footer-container__bottom {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.footer__icon {
  height: 4rem;
  justify-items: center;
  margin: $xs-size auto 0 auto;
  width: auto;
}

.footer__signage {
  font-size: 1.2rem;
  font-weight: 540;
  margin: $xs-size;
  text-align: center;
}

@media (min-width: $desktop-breakpoint) {
  .footer-container {
    flex-direction: row;
  }
  .footer-container__left {
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
  }
  .footer-container__right {
    text-align: right;
    flex: 1;
  }
  .footer-container__followUs {
    li {
      justify-content: unset;
    }
  }  
  .footer__title {
    text-align: unset;
  }
  .footer-container__bottom {
    flex-direction: row;
    position: relative;
  } 
  .footer__icon {
    height: 4.5rem;
    margin: $xs-size auto;
  }   
  .footer__signage { 
    bottom: 0;
    font-size: $font-size-small;
    font-weight: 540;
    margin: $xs-size 0 0 0;
    position: absolute;
    right: 0;
  }
}

