.header {
  background: $orange;
}

.header__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 $s-size 0;
}

.header__superscript {
  color: white;
  margin: 0;
  padding-top: $xs-size;
  text-align: right;
}

.header--link {
  text-decoration: none;
}

.header__title {
  color: white;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  h1 {
    font-size: $heading-large-size;
    margin: 0;
    cursor: pointer;
  }
}

.header__icon {
  cursor: pointer;
  height: 5.5rem;
  margin: 0 $s-size 0 0;
  width: auto;
}

@media (min-width: $desktop-breakpoint) {
  .header__content {
    flex-direction: row;
  }
  .header__title {
    h1{
      margin: 0 $l-size 0 0;;
    }
  }
}
