.text-input {
  border: 1px solid #cacccd;
  border-radius: 4px;
  height: 40px;
  font-size: $font-size-large;
  font-weight: 300;
  margin-top: $xs-size;
  padding: $s-size; 
  width: 85vw; 
}

.form-input {
  flex: 1;
}

.text-input__search {
  @extend .text-input;
  background-image: url('/images/search-icon.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 28px;
  padding-left: $l-size;
}

.text-input__email {
  @extend .text-input;
  vertical-align: middle;
}

.select {
  @extend .text-input;
  padding: $xs-size;
}

.select__location {
  @extend .select;
  background-image: url('/images/location-icon.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-left: $l-size;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

@media (min-width: $desktop-breakpoint) {
  .text-input {
    margin-top: 0;
    width: unset;
  }
  .text-input__search {
    width: 100%;
  }
  .select {
    margin-left: $m-size;
  }
}